<ion-item class="cinema_schedule_cell">
    <div class="well row">
        <div class="col-xs-12 higher" ng-show="oneFilm || noSchedule" ng-click="openCinema(cinema)">
            <h4>{{cinema.title}}</h4>
            <div ng-show="noSchedule">
                <p>{{cinema.address}}</p>
                <p ng-if="cinema.metro">Метро <b>{{cinema.metro}}</b></p>
            </div>
        </div>
        <div ng-hide="noSchedule">

            <div class="col-xs-4 higher" ng-show="film && film.poster" ng-click="openFilm(film)">
                <img class="img-vert2" ng-src="{{film.poster}}" alt="{{film.title}}">
            </div>
            <div class="col-xs-8 higher clear" ng-show="film" ng-click="openFilm(film)">
                <h4>{{film.title}}</h4>

                <div><b>{{film.age || 0}}+</b></div>
            </div>
            <br clear="all" />

            <div class="col-xs-9 higher" ng-show="oneFilm">
                <div class="col-xs-4 col-sm-2" ng-repeat="show in cinema.shows">{{show.date}}</div>
            </div>

            <!--div class="col-xs-3">
                Зал 1 <b>IMAX</b>
            </div>
            <div class="col-xs-9 higher">
                <div class="col-xs-4 col-sm-2 less off">11:05</div>
                <div class="col-xs-4 col-sm-2 less">13:35</div>
                <div class="col-xs-4 col-sm-2 ">16:15</div>
                <div class="col-xs-4 col-sm-2 ">18:50</div>
                <div class="col-xs-4 col-sm-2 more">20:25</div>
                <div class="col-xs-4 col-sm-2 more">22:15</div>
                <div class="col-xs-4 col-sm-2 ">23:35</div>
            </div>
            <div class="col-xs-3">
                Зал 2
            </div>
            <div class="col-xs-9 higher">
                <div class="col-xs-4 col-sm-2 less off">10:00</div>
                <div class="col-xs-4 col-sm-2 less">12:15</div>
                <div class="col-xs-4 col-sm-2 ">14:30</div>
                <div class="col-xs-4 col-sm-2 ">16:45</div>
                <div class="col-xs-4 col-sm-2 more">19:15</div>
                <div class="col-xs-4 col-sm-2 more">21:15</div>
                <div class="col-xs-4 col-sm-2 ">23:30</div>
            </div-->

        </div>
    </div>
</ion-item>
