<ion-view class="background" ng-init="getInfo()" cache-view="false">
    <ion-nav-bar class="bar-transparent bar">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-navicon-round light button--toggle-sidemenu"
                    menu-toggle="right"></button>
        </ion-nav-buttons>

        <ion-nav-title>{{stateTitle}}</ion-nav-title>

    </ion-nav-bar>


    <ion-content class="films-list">

        <ion-list can-swipe="false">
            <cinema-cell cinema="cinema" city="city"></cinema-cell>
        </ion-list>

        <div class="button-bar" ng-show="canSaveCity">
            <a class="button" ng-click="saveCity()">Сохранить {{city.title}}</a>
        </div>

        <div class="button-bar" ng-show="canSave">
            <ion-toggle ng-model="isSaved" ng-change="saveCinema()">
                Добавить в избранное
            </ion-toggle>
        </div>

        <div class="button-bar" ng-show="canCancel">
            <ion-toggle ng-model="isSaved" ng-change="cancelCinema()">
                Избранный кинотеатр
            </ion-toggle>
        </div>

        <h4>Репертуар</h4>

        <div class="button-bar">
            <ion-list can-swipe="false">
                <calendar-nav cinema="cinema" date="date" change="refreshDate"></calendar-nav>
            </ion-list>
        </div>

        <div class="button-bar">
            <ion-toggle ng-model="useHalls" ng-change="toggleChange()">
                {{useHalls ? 'Показать сеансы списком' : 'Сгруппировать по залам' }}
            </ion-toggle>
        </div>

        <ion-list can-swipe="false" ng-if="dataLoaded">
            <cinema-schedule-cell film="film" cinema="cinema"
                                  ng-repeat="film in films">
            </cinema-schedule-cell>
            <div ng-hide="films.length">Расписание на этот день не найдено</div>
        </ion-list>

    </ion-content>

</ion-view>
