<ion-side-menus>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Side Menu</h1>
        </header>
        <div class="side-menu-content has-header">
            <ion-list>
                <ion-item>{{cityName}}</ion-item>
                <ion-item menu-close go-cities>Cities</ion-item>
                <ion-item menu-close go-films>Films</ion-item>
                <ion-item menu-close go-cinemas>Cinemas</ion-item>
            </ion-list>
        </div>

    </ion-side-menu>

    <ion-side-menu-content drag-content="false">
        <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

</ion-side-menus>
