<ion-view class="background" ng-init="getFilmsList(currentCity)" cache-view="false">
    <ion-nav-bar class="bar-transparent bar">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-navicon-round light button--toggle-sidemenu" menu-toggle="right"></button>
        </ion-nav-buttons>

        <ion-nav-title>Фильмы</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="films-list">
        <!--ion-refresher
          class="cargo-list__refresher"
          pulling-text="Pull to refresh"
          spinner = "none"
          on-refresh="refreshList()">
        </ion-refresher-->

        <div class="button-bar">
            <ion-toggle ng-model="currentCityOnly" ng-change="toggleChange()">
                {{currentCityOnly ? 'Фильмы в городе ' + currentCity.title : 'Все фильмы в прокате' }}
            </ion-toggle>
        </div>

        <h4>Отсортировано по широте проката</h4>

        <ion-list can-swipe="false">
                <film-cell film="film" ng-repeat="film in films"></film-cell>
        </ion-list>

    </ion-content>

</ion-view>
