<ion-view class="background" ng-init="" cache-view="false">
    <ion-nav-bar class="bar-transparent bar-cargo-list bar">
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-navicon-round light button--toggle-sidemenu" menu-toggle="right"></button>
        </ion-nav-buttons>

        <ion-nav-title>Фильмы</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="films-list">
        <ion-refresher
          class="cargo-list__refresher"
          pulling-text="Pull to refresh"
          spinner = "none"
          on-refresh="refreshList()">
        </ion-refresher>

	  <ion-list can-swipe="false">
                <film-cell title="{{film.title}}"
                          film="film"
                          ng-repeat="film in films">
                </film-cell>
      </ion-list>

    </ion-content>

</ion-view>
