<ion-view class="background" ng-init="getCityCinemas()" cache-view="false">
    <ion-nav-bar class="bar-transparent bar">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-navicon-round light button--toggle-sidemenu"
                    menu-toggle="right"></button>
        </ion-nav-buttons>

        <ion-nav-title>{{city.title}}</ion-nav-title>

    </ion-nav-bar>

    <ion-content class="films-list">

        <div class="button-bar" ng-show="city.id !== currentCity.id" >
            <a class="button"
               ng-click="saveCity()">Сохранить {{city.title}}</a>
        </div>

        <div class="button-bar" ng-show="city.id === currentCity.id" >
            {{city.title}} &#151; мой город
        </div>

        <h3 ng-if="savedCinemas.length">Ваши кинотеатры</h3>

        <ion-list  ng-if="savedCinemas.length" can-swipe="false">
            <cinema-schedule-cell cinema="cinema" no-schedule="true"
                       ng-repeat="cinema in savedCinemas">
            </cinema-schedule-cell>
        </ion-list>

        <h3 ng-if="cinemas.length">Список кинотеатров</h3>

        <ion-list  ng-if="cinemas.length" can-swipe="false">
            <cinema-schedule-cell cinema="cinema" no-schedule="true"
                                  ng-repeat="cinema in cinemas">
            </cinema-schedule-cell>
        </ion-list>

    </ion-content>

</ion-view>
